@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'montserrat', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .carousel-item img {
    height: 400px;
    object-fit: cover;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(50px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }
  
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(35px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


  footer {
    text-align: center;
    padding: 1rem;
    background-color: #222;
    color: white;
     transition: background-color 0.3s ease, color 0.3s ease;
  }

  .image-container {
    text-align: center;
  }
  
  .download-btn,
  .like-btn,
  .cart-btn {
    margin: 0 5px;
  }
  
  .btn-danger {
    background-color: red;
    border: none;
  }


  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: rgba(
      255,
      255,
      255,
      0.6
    ); 
    backdrop-filter: blur(10px); 
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }

 
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(15px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  
  body {
    padding-top: 70px; 
  }

  .carousel-item img {
    object-fit: cover;
    height: 50vh;
  }
  
  footer p{
    text-align: center;
    padding-top: 12px;
  }

   /* Dark Mode Styles */
    .dark-mode {
      background-color: #222;
      color: #fff;
    }
    .dark-mode .navbar{
    background-color: rgba(0, 0, 0, 0.6);
    }

    .dark-mode .navbar.scrolled {
     background-color: rgba(0, 0, 0, 0.9);
  }
  .dark-mode footer {
      background-color: #111;
      color: #ddd;
    }
    .dark-mode .navbar-brand,
    .dark-mode .nav-link,
    .dark-mode .dropdown-item,
    .dark-mode footer p,
    .dark-mode .mode-toggle-btn
      {
      color: #fff;

  }
  /* Dark mode toggle button */
  .mode-toggle-btn {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 5px;
    color: black;
     transition: color 0.3s ease;

  }
  .dark-mode .mode-toggle-btn {
   color: #fff;
  }